---
layout: default
permalink: /author/

---

<h3>{{ page.title }}</h3>

<p>
  {{ page.date | date:"%d.%m.%Y" }}
  {% assign author = site.authors | where: 'short_name', page.author | first %}
  {% if author %}
    - <a class="text-body text-decoration-none" href="{{ author.url }}">{{ author.name }}</a>
  {% endif %}
</p>

{{ content }}

<div class="row mt-5 py-2 d-flex align-items-center justify-content-center border rounded-3 border-success">
  <div class="col-4">
    <h4><a class="text-body text-decoration-none" href="{{ author.url }}">{{ author.name }}</h4></a>
    <code class="text-dark">{{ author.content }}</code>
  </div>
  <div class="col-2">
    <img src="/assets/images/profile/{{ author.permalink }}.png" height="50%" max-height="150px" class="rounded-circle" alt="">
  </div>
</div>